 .header{
    grid-area: header;
 }
  .nav{
    grid-area: nav;
  }
  .main{
    grid-area: main;
  }
  .sidebar{
    grid-area: sidebar;
  }
   .adg{
    grid-area: adg;
   }
    .footer{
    grid-area: footer;
  }
  .container{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav main main sidebar"
    "nav main main adg"
    "footer footer footer footer"
    ;
  }
   .header , .nav ,.main ,.sidebar, .adg ,.footer {
    background-color: bisque;
    text-align: center;
   }
   @media screen and (max-width:576px) {
    .container{
        display: grid;
        gap:20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
         "adg"
        "footer"
        ;
      }
   }